.webdesign_service_card_main{
  background-color: var(--text-b-color);
  padding: 2rem 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}


.webdesgin_card_parents{
  display: flex;
  column-gap: 2rem;
}


.each_web_card_parents{
  padding: 2rem 0;
}


.each_web_card_parents p{
  color: var(--text-w-color);
  font-weight: var(--font-weight-normal);
  font-family: 'Clash Display';
}

.web_img_container{
  position: relative;
}

.web_img_container img{
  width: 100%;
  border-radius: 8px;
}

.web_img_container:hover .hoverbtn {
  /* visibility: visible; */
  opacity: 1;
  pointer-events: auto;

}

.hoverbtn {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  /* visibility: hidden; */
  transform: translate(-50%, -50%);
  color: var(--text-w-color);
  font-size: 1.2rem;
  font-weight: var(--font-weight-normal);
  transition: opacity 0.3s ease-in-out;
  font-family: 'Clash Display';
  pointer-events: none;
}

/* website hover button on card  */

.webdesign_hover_card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-55%);
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.0125);
  /* border: 0.1vmin solid rgba(219, 219, 219, 0.1); */
  border-radius: 10px;
  overflow: hidden;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.4s ease, transform 0.4s ease;
  max-width: 200px;
  width: 100%;
  box-sizing: border-box;
}

.show-card {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.webdesign_hover_btn_parents{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  
}

.webdesign_hover_btn_parents a{
  text-align: center;
  background: var(--text-w-color);
  color: var(--text-b-color);
  padding: 10px 10px;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  gap: 8px; /* space between text and icon */
  font-size: 1.2rem;
}
.weblive{
  display: flex;
  align-items: center;
  font-size: 18px; /* match or slightly larger than text */
}

.webdesign_hover_btn{
  font-family: 'Clash Display', sans-serif;
  font-weight: var(--font-weight-regular);
  color: var(--text-w-color);
  word-spacing: 3px;
  font-size: 1rem;

}

.webdesign_hover_btn:hover {
  background: rgb(92, 128, 226);
  box-shadow: 0 0 0.5vmin #fff;
}

