/* footer css start  */
.service_footer_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 40vh;
  row-gap: 2rem;
  background-color: var(--text-b-color);
  z-index: 1;
  position: relative;
}

.service_footer_container p {
  color: var(--text-w-color);
  font-size: 3rem;
  font-family: 'Clash Display', sans-serif;
  font-weight: var(--font-weight-bold);
  word-spacing: 8px;
}

.enquire_button {
  position: relative;
  width: 120px;
  height: 40px;
  background-color: var(--text-b-color);
  align-items: center;
  font-family: 'Clash Display', sans-serif;
  font-weight: var(--font-weight-regular);
  color: var(--text-w-color);
  border: none;
  font-size: 16px;
  word-spacing: 2px;
  cursor: pointer;
}

.enquire_button::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -4px;
  top: -1px;
  margin: auto;
  width: 128px;
  height: 48px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.enquire_button::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.enquire_button:hover::after {
  filter: blur(30px);
}

.enquire_button:hover::before {
  transform: rotate(-180deg);
}

.enquire_button:active::before {
  scale: 0.7;
}